
<!-- Artworks -->
<section id="artworks">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="page-header">Recent Digital Artworks</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        All artworks are based on original photos that have been transformed using interactive image stylization techniques. The techniques are implemented and available in iOS apps published by <a href="https://www.digitalmasterpieces.com">Digital Masterpieces</a>.
      </div>
      <div class="col-md-4">
        <div><legend>Pencil/Pastel/Ink (<a href="https://apple.co/Graphite">Graphite</a>)</legend></div>
        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/3a747c8551e2501f8d425a683908bcec.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
      </div>
      <div class="col-md-4">
        <div><legend>Watercolor (App TBR)</legend></div>
        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/981c0c41c8185330b2b39e279cfefdf7.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
      </div>
      <div class="col-md-4">
        <div><legend>Oil Paint (<a href="https://apple.co/BeCasso">BeCasso</a>)</legend></div>
        <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/41c6986925eb539186f7ad45ddef2570.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
      </div>
    </div>
  </div>
</section>
