
<!-- Personal -->
<section id="personal">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="page-header">Personal</h2>
      </div>
    </div>
    <div class="row">
      <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/7c3f7f42f9155dd1ac4b96acfb4ada7f.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
  </div>
</section>
